.Input {
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box;
}

.Input label{
    font-weight: bold; 
    display: block; 
    margin-bottom: 8px;
}

.Input .input-element {
    outline: none;
    border: 1px solid #ccc; 
    background-color: #fff;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.Input .input-element:focus{
    outline: none;
    background-color: #ccc;
}

.Input .input-element.invalid {
    border: ipx solid crimson;
    background-color: salmon;
}